<div class="wrapper">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-wrapper">
      <!-- Logo -->
      <div class="logo">
        <a href="https://www.monoprix.fr" class="simple-text">
          <div class="logo-img">
            <img src="assets/img/monoprix-logo.png" alt="Monoprix Logo" />
          </div>
        </a>
      </div>

      <!-- Sidebar Menu -->
      <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{ menuItem.icon }}</i>
            <span class="label">{{ menuItem.title }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <h2>Invoice Approval Prediction</h2>
    <iframe src="http://localhost:8502"></iframe>
  </div>
</div>
